# CMake
backend/build/
cmake-build-*/

# C++ 编译文件
*.o
*.obj
*.a
*.so
*.exe

# VS Code
.vscode/

# 临时文件
*.swp

# 日志
*.log

#frontend
frontend/node_modules/
frontend/dist

#root node
node_modules/

#database
*.db
*.sqlite

#system
.DS_Store


